.schedule-item > .badge {
    margin-left: 6px;
}

.schedule-item > .root-react-component-countdown-timer {
    display: inline-block;
    margin-left: 6px;
}

.schedule-item > .root-react-component-countdown-timer > .displayedTime > div {
    border: none !important;
}